<section id="pricing" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="header-section text-center">
        <h2>Car Wash Packages</h2>
        <p>We offer the following wash Packages. Choose that fits your need.</p>
        <hr class="bottom-line">
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="service-box text-center">
          <div class="icon-box">
            <h4 class="ser-text">Hachback Wash Package</h4>
          </div>
          <h3 class="highlight"><i class="fa fa-inr fa-lg"></i>150</h3>
          <hr>
          <div class="icon-text">
            <p><i class="fa fa-clock-o fa-lg" aria-hidden="true"></i> 20 min</p>
            <p>Exterior Wash + Interior Dusting</p>
            <p> + Glass Cleaning + Wheel Shine</p>
            <hr>
            <p class="btn-trial"><a class="small-text" href="#footer">Book Now</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="service-box text-center">
          <div class="icon-box">
            <h4 class="ser-text">Sedan Wash Package</h4>
          </div>
          <h3 class="highlight"><i class="fa fa-inr fa-lg"></i>170</h3>
          <hr>
          <div class="icon-text">
            <p><i class="fa fa-clock-o fa-lg" aria-hidden="true"></i> 20 min</p>
            <p>Exterior Wash + Interior Dusting</p>
            <p> + Glass Cleaning + Wheel Shine</p>
            <hr>
            <p class="btn-trial"><a class="small-text" href="#footer">Book Now</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="service-box text-center">
          <div class="icon-box">
            <h4 class="ser-text">MUV/SUV Wash Package</h4>
          </div>
          <h3 class="highlight"><i class="fa fa-inr fa-lg"></i>200</h3>
          <hr>
          <div class="icon-text">
            <p><i class="fa fa-clock-o fa-lg" aria-hidden="true"></i> 20 min</p>
            <p>Exterior Wash + Interior Dusting</p>
            <p> + Glass Cleaning + Wheel Shine</p>
            <hr>
            <p class="btn-trial"><a class="small-text" href="#footer">Book Now</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>