<!--Feature-->
<section id="feature" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="header-section text-center">
        <h2>Who are We</h2>
        <p>We provide Doorstep Car cleaning services by trained professionals anywhere in Kolkata.</p>
        <p>Enjoy hassle-free convenience at your suitable time and place.
        </p>
        <hr class="bottom-line">
      </div>
      <div class="feature-info">
        <div class="fea">
          <div class="col-md-4">
            <div class="heading pull-right">
              <h4>Waterless eco-friendly</h4>
              <p>We encourage waterless and eco-friendly cleaning services.</p>
            </div>
            <div class="fea-img pull-left">
              <i class="fa fa-bitbucket"></i>
            </div>
          </div>
        </div>
        <div class="fea">
          <div class="col-md-4">
            <div class="heading pull-right">
              <h4>Best-in-class Products</h4>
              <p>We use best-in-class cleaning products.</p>
            </div>
            <div class="fea-img pull-left">
              <i class="fa fa-superpowers"></i>
            </div>
          </div>
        </div>
        <div class="fea">
          <div class="col-md-4">
            <div class="heading pull-right">
              <h4>Trained Professionals</h4>
              <p>Our professionals are trained and will take best care of your car.</p>
            </div>
            <div class="fea-img pull-left">
              <i class="fa fa-user-o"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    <!--/ feature-->