<!--Banner-->
<div class="banner">
  <div class="bg-color">
    <div class="container">
      <div class="row">
        <div class="banner-text text-center">
          <div class="text-border">
            <h2 class="text-dec">Welcome to Car Wash Services</h2>
          </div>
          <div class="intro-para text-center quote">
            <p class="big-text">We provide Doorstep car cleaning services in Kolkata</p>
            <ul>
              <li class="btn-trial"><a class="big-text" [routerLink]="['/pricing']">Book Now</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ Banner-->
<!--Feature-->
<app-services></app-services>
<!--/ feature-->

<!--pricing-->
<app-pricing></app-pricing>
<!--/ pricing-->

<!--Testimonial-->
<section id="testimonial" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="header-section text-center">
        <h2 class="white">See What Our Customers Are Saying?</h2>
        <p class="white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem nesciunt vitae,<br> maiores, magni dolorum
          aliquam.</p>
        <hr class="bottom-line bg-white">
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="text-comment">
          <p class="text-par">"Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, nec sagittis sem"</p>
          <p class="text-name">Abraham Doe - Creative Dırector</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="text-comment">
          <p class="text-par">"Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, nec sagittis sem"</p>
          <p class="text-name">Abraham Doe - Creative Dırector</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Testimonial-->
<!--Gallery-->
<section id="gallery" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="header-section text-center">
        <h2>Gallery</h2>
        <hr class="bottom-line">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 padleft-right">
        <figure class="imghvr-fold-up">
          <img src="assets/img/course01.jpg" class="img-responsive">
          <figcaption>
            <h3>Course Name</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque, nostrum veniam consequatur libero fugiat,
              similique quis.</p>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>
      <div class="col-md-4 col-sm-6 padleft-right">
        <figure class="imghvr-fold-up">
          <img src="assets/img/course02.jpg" class="img-responsive">
          <figcaption>
            <h3>Course Name</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque, nostrum veniam consequatur libero fugiat,
              similique quis.</p>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>
      <div class="col-md-4 col-sm-6 padleft-right">
        <figure class="imghvr-fold-up">
          <img src="assets/img/course03.jpg" class="img-responsive">
          <figcaption>
            <h3>Course Name</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque, nostrum veniam consequatur libero fugiat,
              similique quis.</p>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>
      <div class="col-md-4 col-sm-6 padleft-right">
        <figure class="imghvr-fold-up">
          <img src="assets/img/course04.jpg" class="img-responsive">
          <figcaption>
            <h3>Course Name</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque, nostrum veniam consequatur libero fugiat,
              similique quis.</p>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>
      <div class="col-md-4 col-sm-6 padleft-right">
        <figure class="imghvr-fold-up">
          <img src="assets/img/course05.jpg" class="img-responsive">
          <figcaption>
            <h3>Course Name</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque, nostrum veniam consequatur libero fugiat,
              similique quis.</p>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>
      <div class="col-md-4 col-sm-6 padleft-right">
        <figure class="imghvr-fold-up">
          <img src="assets/img/course06.jpg" class="img-responsive">
          <figcaption>
            <h3>Course Name</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque, nostrum veniam consequatur libero fugiat,
              similique quis.</p>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>
    </div>
  </div>
</section>
<!--/ Gallery-->

<!--Contact-->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="header-section text-center">
        <h2>Contact Us</h2>
        <hr class="bottom-line">
      </div>
      <div class="col-sm-4 addressDetails">
        <h4>
          <i class="fa fa-map-marker"></i> Address
        </h4>
        <p class="very-small-text">
          4th Floor <br>Suite 401 <br>Mahaseak Rd. <br>Suriyawongse, Bangrak <br>Bangkok 10500 <br>
          <strong>Thailand</strong>
        </p>
      </div>
      <!-- /.col-sm-4 -->
      <div class="col-sm-4 addressDetails">
        <h4>
          <i class="fa fa-phone"></i> Call center
        </h4>
        <p>
          +9875433222335
        </p>
      </div>
      <!-- /.col-sm-4 -->
      <div class="col-sm-4 addressDetails">
        <h4>
          <i class="fa fa-envelope"></i> Electronic support
        </h4>
        <p class="text-muted">Please feel free to write an email to us
        </p>
        <ul>
          <li><strong><a href="mailto:">washmycar@gmail.com</a></strong>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--/ Contact-->